html, body, #root
{
    width:100%;
    height: 100%;
}
.canvas
{
    width:90%;
    height: 90%;
    text-align: center;
}
#linegraph
{
    width: inherit;
    height: inherit;
    display: inline-block;
    margin: 15px;
    background-color: lightgray;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }