html, body, #root
{
    width:100%;
    height: 100%;
}
.canvas
{
    width:100%;
    height: 100%;
}
.tooltip {
    position:fixed;
    padding:7px;
    background:gold;
    pointer-events:none;
    width:40px;
}

@media(min-width:576px)
{
    .canvas div canvas
    {
        max-width: 540px;
    }
}
@media(min-width:768px)
{
    .canvas div canvas
    {
        max-width: 420px;
    }
}
@media(min-width:992px)
{
    .canvas
    {
        max-width: 300px;
    }
}
@media(min-width:1200px)
{
    .canvas canvas
    {
        max-width: 260px;
    }
}
