html, body, #root
{
    width:100%;
    height: 100%;
}
.canvas
{
    width:90%;
    height: 90%;
    text-align: center;
}
#linegraph
{
    width: inherit;
    height: inherit;
    display: inline-block;
    margin: 15px;
    background-color: lightgray;
}
.tooltip {position:fixed;padding:7px;background:gold;pointer-events:none;width:40px;
  }
